body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 30px;
    font-weight: bold;
}

.navbar .login {
    font-size: 16px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    background-color: #555;
    color: white;
}